@model WebApp_Sorteo.Models.Premio

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center text-success d-flex justify-content-around">Editar datos del Premio</h1>

<h4>Premio: @Model.Descripcion</h4>
<hr />
<div class="row shadow-md border-2">
    <div class="col-6">
        <form asp-action="Edit" id="formEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" type="url" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-around my-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar cambios
                </button>
            </div>
        </form>
    </div>
    <div class="col-4 offset-2">
        <img src="@Model.Imagen" class="img-fluid" />
        <div class="d-flex text-center">
            <a asp-action="Index" class="btn btn-md btn-info">
                Volver
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            </a>
        </div>
    </div>



    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
