@{
    ViewData["Title"] = "Estados de Pago";
}
<div class="container-fluid">
    <section class="justify-content-center">
        <h1 class="text-primary text-center">Ver listado de los estados de pago en el sistema.</h1>
    </section>
    <button class="btn btn-outline-danger" asp-action="Index" asp-controller="Home">Volver al Home</button>
</div>
